gitignore
# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/shelf/

# VS Code
.vscode/

# Sistema
.DS_Store
/captures

# Compilação
/build
/*/build
.externalNativeBuild
.cxx
.kotlin/

# Chaves de Assinatura (Segurança Máxima)
*.jks
*.keystore
*.p12
*.google_play_keys

# Google Services (se for usar Firebase no futuro)
google-services.json